@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@*The registration page will register a new user. The form should take in the user’s first and last name, email, and password.
When submitted, the page should show the user a summary page with a message, such as Welcome {UserName}
The Index View should have a link pointing to the registration page. (Tip: Try using tag helpers, specifically asp-controller and asp-action.)
Go crazy! Design the form by adding different kinds of controls, such as text boxes, drop down lists, radio buttons, and check boxes.*@

@*Index page has a working link to the registration page (1 point).
    Registration page has a form with a valid action and method (1 point) and the four required fields (1 point each = 4 points).
    The C# function inside the controller takes all four fields correctly through GET or POST (2 points), then returns a view (1 point), passing the correct information along (1 point).
    Result page shows at least the user’s first name with a welcome message (1 point).*@
