@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Click any beverage to get more details:
    </p>
</div>


@{
    //C# coding within Razor
    foreach (Product p in Model)
    { //HTML SECTION BELOW
      //A DIV is used to group sections of HTML into one section
        <a class="nav-link text-dark" asp-action="ProductDetails" asp-route-id="@p.Id">
            <div class="card">
                <p>@p.Id</p>
                <p>@p.Name</p>
            </div>
        </a>
    }
}